{{ define "content" }}
<h1>Your Billing Information Has Been Updated</h1>
{{ if (eq .Billing "card") }}
<h3>Payment Method: Card w/ Stripe</h3>
<h3>Next Payment: {{.BillingCycleEnd}}</h3>
{{ end }}
{{ if (eq .Billing "crypto") }}
<h3>Payment Method: Crypto</h3>
<h3>Next Payment Due: {{.BillingCycleEnd}}</h3>
{{ end }}
{{end}}
