{{ define "content" }}
<!-- I can do something here to format it differently for local testing -->
<h1>Endless Waltz Password Reset</h1>
<h1>IF YOU DID NOT REQUEST THIS, PLEASE DISREGARD</h1>
<h2>Please use the button below to verify your email</h2>
<form method="get" action="{{.FormHost}}/resetPassword" class="inline">
  <input type="hidden" name="user" value="{{.Username}}">
  <input type="hidden" name="email" value="{{.TargetUser}}">
  <input type="hidden" name="token" value="{{.Token}}">
  <button type="submit" class="btn btn-primary w-50 py-2">
  Reset Password
  </button>
</form>
{{end}}
