{{ define "content" }}
<!-- I can do something here to format it differently for local testing -->
  <a>IF YOU DID NOT REQUEST THIS, PLEASE DISREGARD</a>
<form method="post" action="%s/resetPassword" class="inline">
  <input type="hidden" name="user" value="%s">
  <input type="hidden" name="email" value="%s">
  <input type="hidden" name="token" value="%s">
  <button type="submit" name="submit_param" value="submit_value" class="link-button">
    This is a link that sends a POST request
  </button>
</form>
{{end}}
