{{ define "content" }}    
  <main class="form-signin w-50 m-auto align-items-center">
    <div align=center>
    <img class="mb-4" src="/img/Icon.png" alt="" width="72" height="72">
    <h1 class="h2 mb-3 fw-normal">Select Your Billing Method</h1>
    <h2 class="h1 mb-3 fw-normal">Billing Options</h2>
    <p>Running a great (and discreet) service costs money.</p>
    <div class="grid-container">
      <div class="grid-item"></div>
      <div class="grid-item">Crypto Payments</div>
      <div class="grid-item">Free Trial</div>  
      <div class="grid-item">
	<p class="h6 mb-6 fw-normal">7 Days</p>
      </div>
      <div class="grid-item">Monthly Cost</div>  
      <div class="grid-item">
	<p class="h6 mb-6 fw-normal">$2.99 USD</p>
      </div>
      <div class="grid-item">Accepted</div>
      <div class="grid-item">
	<p class="h6 mb-6 fw-normal">Bitcoin</p>
	<p class="h6 mb-6 fw-normal">Bitcoin Cash</p>
	<p class="h6 mb-6 fw-normal">Litecoin</p>
	<p class="h6 mb-6 fw-normal">Ethereum</p>
      </div>
      <div class="grid-item">Pros</div>
      <div class="grid-item">
	<p class="h6 mb-6 fw-normal">Lower Cost</p>
	<p class="h6 mb-6 fw-normal">Total Anonymity</p>
      </div>
      <div class="grid-item">Cons</div>
      <div class="grid-item">
	<p class="h6 mb-6 fw-normal">Requires manual interaction</p>
      </div>
    </div>
    <h2 class="h2 mb-3 fw-normal">Select Payment Method</h2>
    <div class="button-container">
      <button class="btn btn-secondary w-20 py-2" type="button" id="crypto_button" onclick="crypto()">Pay with Crypto</button>
      &nbsp;
      <button class="btn btn-secondary w-20 py-2" type="button" id="card_button" onclick="card()">Pay With Card</button>
    </div>
    <br>
    <br>
    <input type="hidden" name="gorilla.csrf.Token" value="{{.TemplateTag}}">
    <div id="card">
      <h2 class="h2 mb-3 fw-normal">Pay with Card</h2>
      <div id="checkout">
      </div>
    </div>
    <br>
    <div id="crypto" class="hidden">
      <h2 class="h2 mb-3 fw-normal">Selected: Pay with Crypto</h2>
      <p>Crypto payments require us to send you monthly emails with payment links. Be sure to make payments on time to avoid service interruption.</p>
      <br>
      <a href="/register">
      <button class="btn btn-primary w-50 py-2" type="submit" value="SignUp">Finish Creating Account</button>
      </a>
    </div>
    <br>
    <br>
    </div>
    <script>
    function crypto() {
	var content1 = document.getElementById("crypto");
	var content2 = document.getElementById("card");
	content1.classList.remove("hidden");
	content2.classList.add("hidden");
	document.cookie = `billing=crypto; path=/`;
    };
    function card() {
	var content1 = document.getElementById("crypto");
	var content2 = document.getElementById("card");
	content2.classList.remove("hidden");
	content1.classList.add("hidden");
	document.cookie = `billing=card; path=/`;
    };

    // This is your test publishable API key.
    const stripe = Stripe("pk_test_51O9xNoGcdL8YMSExrCgpNzGy7XyHsCfcBPDPSiBLygEZubB1yS4SEYy2GCQ601PtYO56ZaYc8XrrIak76sgrduFJ00h3ae9fER");

    initialize();

    // Create a Checkout Session as soon as the page loads
    async function initialize() {
      const response = await fetch("/api/create-checkout-session", {
	method: "POST",
      });

      const { clientSecret } = await response.json();

      const checkout = await stripe.initEmbeddedCheckout({
	clientSecret,
      });

      // Mount Checkout
      checkout.mount('#checkout');
    }
    </script>
  </main>

{{ end }}
