{{ define "content" }} 
  <main class="px-3">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
      <br>
      <br>
    <p class="lead" style="font-size:300%">Downloads</p>
    <p class="lead">Create an account to begin sending messages</p>
    <br>
    <div align=center>
    <hr style="width:50%">
    </div>
    <br>
    <h2>Windows Instructions<h2>
    <br>
    <p class="lead">
      <a href="https://endless-waltz-xyz-downloads.s3.us-east-2.amazonaws.com/win_ew_messenger.tar.xz" class="btn btn-lg btn-light fw-bold border-white bg-white">Download For Windows</a>
    </p>
    <br>
    <p class="lead">After downloading the file, extract it to your desktop.</p>
    <p class="lead">You can then click and run the file.</p>
    <br>
    <div align=center>
    <hr style="width:50%">
    </div>
    <br>
    <h2>Linux Instructions<h2>
    <br>
    <p class="lead">
      <a href="https://endless-waltz-xyz-downloads.s3.us-east-2.amazonaws.com/nix_ew_messenger.tar.xz" class="btn btn-lg btn-light fw-bold border-white bg-white">Download For Linux</a>
    </p>
    <br>
    <p class="lead">After downloading the file, extract it.</p>
    <p class="lead">You can then <code>make install</code> the program.</p>
    <br>
    <div align=center>
    <hr style="width:50%">
    </div>
    <br>
    <h2>Live ISO Instructions<h2>
    <br>
    <p class="lead">
      <a href="https://endless-waltz-xyz-downloads.s3.us-east-2.amazonaws.com/ew_messenger.iso" class="btn btn-lg btn-light fw-bold border-white bg-white">Download ISO</a>
    </p>
    <br>
    <p class="lead">After downloading the ISO, burn it to a USB or CD, and boot into the live environment.</p>
    <br>
  </main>
{{ end }}
