{{ define "content" }} 
  <main class="px-3">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
      <br>
    <p class="lead" style="font-size:300%">Downloads</p>
    <br>
    <p class="lead">
      <a href="https://endless-waltz-xyz-downloads.s3.us-east-2.amazonaws.com/win_ew_messenger.tar.xz" class="btn btn-lg btn-light fw-bold border-white bg-white">For Windows</a>
    </p>
    <br>
    <p class="lead">
      <a href="https://endless-waltz-xyz-downloads.s3.us-east-2.amazonaws.com/nix_ew_messenger.tar.xz" class="btn btn-lg btn-light fw-bold border-white bg-white">For Linux</a>
    </p>
  </main>
{{ end }}
