{{ define "content" }}
  <main class="px-3 centered-element">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
    <br>
    <h2 class="lead">Uh ohh, looks like our website experienced an error.</h2>
    <h3 class="lead">Please try again!</h3>
  </main>
{{ end }}
