{{ define "content" }}
<main class="form-signin w-50 m-auto align-items-center">
  <div align=center>
  <form method="POST" action="/forgotPassword">
    <input type="hidden" name="gorilla.csrf.Token" value="{{.TemplateTag}}">
    <img class="mb-4" src="/img/Icon.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Enter your username. We'll send an email to you to reset your password.</h1>
    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
      <label for="floatingInput">Username</label>
    </div>
    <br>
    <div class="g-recaptcha" data-sitekey="6LcQtnsoAAAAAB2DskA6q-uUKpzbyEFvAQ0Kjzcm"></div>
    <br>
    <button class="btn btn-primary w-50 py-2" type="submit" value="forgotPassword">Send Password Reset Email</button>
  </form>
  </div>
</main>
{{ end }}
