{{ define "content" }}
<main class="px-3">
<img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
    <br>
    <h3 class="lead">A GDPR Report email has been sent to your provided email inbox.</h3>
    <meta http-equiv="refresh" content="10; url='/'" />
  </main>
{{ end }}
