{{ define "content" }}
  <main class="px-3 align-items-center">
    <div class="row" style="background-color: black;">
      <div class="column">
        <img src="/img/screenshot.png">  
      </div>
      <div class="column">
        <div class="container">
	  <div class="centered-element">
            <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
	    <h1>Meet the firewall-tunneling, <br>
	        quantum-cryptography safe,   <br>
		ultra-high security chat application.</h1>
	  </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </main>
{{ end }}
