{{ define "content" }}
  <main class="px-3">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
      <br>
      <p class="lead">The three beats of encryption, attack, and decryption will continue eternally.</p>
    <p class="lead">To keep your communications safe now ang into the future:</p>
    <p class="lead"> There's Endless Waltz.</p>
    <p class="lead">
      <a href="/how_it_works" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
    <br>
  </main>
{{ end }}
