{{ define "content" }}
  <main class="px-3">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
      <br>
      <h1 class="lead">The three beats of encryption, attack, and decryption will continue eternally.</h1>
      <h1 class="lead">To keep your communications safe now and into the future:</h1>
      <h1 class="lead"> There's Endless Waltz.</h1>
      <br>
      <div class="row" style="background-color: black;">
      <div class="column">
        <img src="/img/screenshot.png">  
      </div>
      <div class="column">
        <div class="container">
	  <div class="centered-element">
	    <h1>Meet Endless Waltz, the firewall-tunneling, quantum-computer defeating chat application,</h1>
	  </div>
        </div>
      </div>
      </div>
    <br>
  </main>
{{ end }}
