{{ define "content" }}
  <main class="px-3">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
      <br>
    <h1>User Information</h1>
    <p>Authenticated: {{.IsAuthenticated}}</p>
    <p>Username: {{.Username}}</p>
    <br>
    <p class="lead">
      <form action="/protected" method="POST" class="btn btn-primary py-2">
	<button name="delete">Delete My User</button>
      </form>
    </p>
  </main>
{{ end }}
