{{ define "content" }}
  <main class="px-3">
    <div align=center>
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
    <br>
    <br>
    <h1>User Information</h1>
    <hr style="width:50%">
    <h3>Username: {{.Username}}</h3>
    <h3>Email: {{.Email}}</h3>
    <h3>Active: {{.Active}}</h3>
    <br>
    <br>
    <br>
    <h2 style="color:yellow;">Billing Information</h1>
    <hr style="width:50%">
    {{ if .Card }}
    <h3>Payment Method: Card w/ Stripe</h3>
    <h3>Next Payment: {{.BillingCycleEnd}}</h3>
    {{ end }}
    {{ if .Crypto }}
    <h3>Payment Method: Crypto</h3>
    <h3>Next Payment Due: {{.BillingCycleEnd}}</h3>
    {{ end }}
    <br>
    <br>
    <br>
    <h2 style="color:red;">Destructive Actions</h2>
    <hr style="width:50%">
    <p class="lead">
    <form action="/forgotPassword">
      <button style="color: black; background-color: red;" class="btn btn-primary w-25 py-2">Change Password</button>
    </form>
    <br>
    <form action="/protected" method="POST">
      <input type="hidden" name="gorilla.csrf.Token" value="{{.TemplateTag}}">      
      <button style="color: black; background-color: red;" class="btn btn-primary w-25 py-2" name="delete">Delete Account</button>
    </form>
    </p>
    </div>
  </main>
{{ end }}
