{{ define "content" }}
  <main class="px-3 centered-element">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
    <br>
    <h1 class="lead">404: Page not found</h1>
  </main>
{{ end }}
