{{ define "content" }}
  <main class="px-3">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
    &nbsp
    <br>
    <br>
    <h2>Your privacy is the foundation of our buisness.<h2>
    <br>
    <h1>What does Endless Waltz store?<h1>
    <br>
    <h2>The Website</h2>
    <p class="lead">The website uses no cookies for any reason.</p>
    <p class="lead">User data is stored to allow logins to manage your account. This data includes your username, password, signup email, and date and time of registration. Your email is only used to reset your password. We will NEVER send you spam.</p>
    <br>
    <br>
    <h2>The Infrastructure</h2>
    <p class="lead">The backend saves no information about your usage.</p>
    <p class="lead">The backend infra logs the IP of requests. In the case of the message exchange servers, a username is mapped to a specific connection. Once you disconnect, this information is deleted. 
    <br>
    <br>
    <h2>The Messenger</h2>
    <p class="lead">The messenger does not write anything to your computer.</p>
    <p class="lead">All messages sent and received are only stored in memory for the duration of your use of the application.</p>
    <br>
    <br>
  </main>
{{ end }}
