{{ define "content" }}    
  <main class="form-signin w-50 m-auto align-items-center">
    <div align=center>
      <form method="POST" action="/resetPasswordSubmit">
	<img class="mb-4" src="/img/Icon.png" alt="" width="72" height="72">
	<input type="hidden" name="gorilla.csrf.Token" value="{{.TemplateTag}}">
        <input type="hidden" name="user" value="{{.Username}}">
        <input type="hidden" name="email" value="{{.Email}}">
        <input type="hidden" name="token" value="{{.Token}}">
	<h1 class="h3 mb-3 fw-normal">Reset Your Password</h1>
	<div class="form-floating">
	  <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
	  <label for="floatingPassword">Password</label>
  	  <span id="passwordError" style="color: red;"></span>
	</div>
	<div class="form-floating">
	  <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password" required>
	  <label for="floatingPassword">Confirm Password</label>
	  <span id="passwordConfirmError" style="color: red;"></span>
	</div>
	<br>
	<div class="g-recaptcha" data-sitekey="6LcQtnsoAAAAAB2DskA6q-uUKpzbyEFvAQ0Kjzcm"></div>
	<br>
	<button class="btn btn-primary w-50 py-2" type="submit" value="resetPassword">Reset Password</button>
      </form>
    </div>
    <script>
    document.querySelector('form').addEventListener('submit', function(event) {
        const password = document.querySelector('#password').value;
        const Cpassword = document.querySelector('#confirm_password').value;
        const passwordError = document.querySelector('#passwordError');
        const CpasswordError = document.querySelector('#passwordConfirmError');

       format = /^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$/;
        if (! format.test(password)) {
            passwordError.textContent = 'Password Requirements: \n' +
                                        'At least 8 characters long \n ' +
                                        'At least 1 Special Character !@#$%^&*\n ' +    
					'At least 1 Upper Case Character \n ' +
                                        'At least 1 lower case character \n ';
            event.preventDefault(); // Prevent form submission
            return
        } else {
            passwordError.textContent = ''; // Clear any previous error message
        }
 
        //pass match check
        if (password != Cpassword) {
            passwordConfirmError.textContent = 'Password does not match confirmation';
            event.preventDefault(); // Prevent form submission
            return
        }  else {
            passwordConfirmError.textContent = ''; // Clear any previous error message
        }

 
    });
    </script>
  </main>

{{ end }}
