{{ define "content" }}
<main class="px-3">
<img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
    <br>
    <h2 class="lead">Successfully signed up user for the EW Circut!.</h2>
    <h3 class="lead">Redirecting to home page...</h3>
    <meta http-equiv="refresh" content="5; url='/'" />
  </main>
{{ end }}
