{{ define "content" }}
<main class="px-3">
<img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
    <br>
    <h3 class="lead">An email has been sent to your provided email inbox.</h3>
    <h3 class="lead">Please click the link in the email to verify.</h3>
    <br>
    <h3 class="lead">User access is restricted until verification.</h3>
    <meta http-equiv="refresh" content="10; url='/'" />
  </main>
{{ end }}
