{{ define "content" }}    
  <main class="form-signin w-50 m-auto align-items-center">
    <div align=center>
      <form method="POST" action="/signUp">
	<img class="mb-4" src="/img/Icon.png" alt="" width="72" height="57">
	<h1 class="h3 mb-3 fw-normal">Create an account</h1>
	<div class="form-floating">
	  <input type="text" name="email" class="form-control" id="floatingInput" placeholder="Email" required>
	  <label for="floatingInput">Email</label>
	</div>
	<div class="form-floating">
	  <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" required>
	  <label for="floatingInput">Username</label>
	</div>
	<div class="form-floating">
	<span id="passwordError" style="color: red;"></span>
	  <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
	  <label for="floatingPassword">Password</label>
	</div>
	<div class="form-floating">
	  <span id="passwordConfirmError" style="color: red;"></span>
	  <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password" required>
	  <label for="floatingPassword">Confirm Password</label>
	</div>
	<br>
	<div class="g-recaptcha" data-sitekey="6LcQtnsoAAAAAB2DskA6q-uUKpzbyEFvAQ0Kjzcm"></div>
	<br>
	<button class="btn btn-primary w-50 py-2" type="submit" value="SignUp">Sign Up</button>
      </form>
    </div>
    <script>
    document.querySelector('form').addEventListener('submit', function(event) {
        const password = document.querySelector('#password').value;
        const Cpassword = document.querySelector('#confirm_password').value;
        const passwordError = document.querySelector('#passwordError');
        const CpasswordError = document.querySelector('#passwordConfirmError');

        //pass length check
        if (password.length < 8) {
            passwordError.textContent = 'Password must be at least 8 characters long';
            event.preventDefault(); // Prevent form submission
	    return
        } else {
            passwordError.textContent = ''; // Clear any previous error message
        }


        //pass match check
        if (password != Cpassword) {
            passwordConfirmError.textContent = 'Password does not match confirmation';
            event.preventDefault(); // Prevent form submission
	    return
        }  else {
            passwordConfirmError.textContent = ''; // Clear any previous error message
        }
 
    });
    </script>
  </main>

{{ end }}
