{{ define "content" }}
  <main class="px-3">
    <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
    <br>
    <h1>Unauthorized</h1>
    <h2 class="lead">You are unauthorized to view this resource.</h2>
    <h2 class="lead">Login and try again.</h2>
  </main>
{{ end }}
