{{ define "content" }}
<main class="px-3 centered-element">
  <img class="mb-4" src="/img/ew.png" alt="" width="500" height="300">  
  <br>
  <h3 class="lead">You have successfully switched from a premium account to a basic account.</h3>
  <p>You will be redirected to the home page in 10 seconds...</p>
  <meta http-equiv="refresh" content="10; url='/'" />
</main>
{{ end }}
