{{ define "base" }}
<div align=center class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<img class="mb-4" src="{{.FormHost}}/img/Icon.png" alt="" width="72" height="72">
{{ template "content" . }}
</div>
</html>
{{ end }}
